<div class="w-50 m-auto d-flex flex-column">
  <ul class="nav nav-tabs border">
    <li
      class="nav-item flex-grow-1"
      *ngFor="let type of transactionTypes; let i = index"
    >
      <a
        class="nav-link text-center"
        [ngClass]="{ active: currentTab === i }"
        routerLink="/navigator"
        [queryParams]="{ tab: i }"
        >{{ type }}</a
      >
    </li>
  </ul>
  <table class="table-light border">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Acount</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-transaction [ngForOf]="transactions">
        <tr *ngIf="filterTransactions(transaction)" class="table">
          <td>{{ transaction.name.first }} {{ transaction.name.last }}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
