<div class="w-50 d-flex flex-column">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let type of transactionTypes; let i = index">
      <a
        [ngClass]="{ 'nav-link': true, active: currentTab === i }"
        routerLink="/navigator"
        [queryParams]="{ tab: i }"
        >{{ type }}</a
      >
    </li>
  </ul>
  <table class="table-light">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Acount</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="transactions">
        <tr *ngIf="row.type === currentTransactionType" class="table">
          <td>{{ row.name.first }}</td>
          <td>{{ row.type }}</td>
        </tr>
      </ng-template>

      <!-- <tr class="table">
        <td>Otto</td>
        <td>@mdo</td>
      </tr> -->
      <!-- <tr class="table">
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr class="table">
        <td>Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
</div>

<p *ngIf="currentTab !== undefined">current tab {{ currentTab }}</p>
<p>current tra type {{ currentTransactionType }}</p>
